.container {
    background: linear-gradient(rgb(5, 136, 33), rgb(248, 244, 12));
    width: 700px;
    height: 700px;
    text-align: center;
}

.title {
    color: yellow;
    font-size: 85px;
    text-align: center;
    font-style: italic;
}

#startButton {
    background-color: rgb(24, 119, 8);
    color: white;
    font-size: 40px;
    padding: 20px;
    border-style: solid;
    border-width: 5px;
    border-color: black;
}